{:arbore-VInfinitive-me "Infinitive_me,conjClass Infinitive_me,infinitiveClass Infinitive_me,nonFiniteForm", :arbore-VInfinitive-um "Infinitive_um,conjClass Infinitive_um,infinitiveClass Infinitive_um,nonFiniteForm", :arbore-VPrefPatternClasses "PrefPatternClasses,conjClass PrefPatternClasses,patternClass PrefPatternClasses,pdgmType", :arbore-VRadicalExt "VRadicalExt,derivedStem VRadicalExt,pdgmType VRadicalExt,stemAltClass", :arbore-VSuffSuppletivePdgms "SuppletivePdgms,conjClass SuppletivePdgms,morphoSynEnv SuppletivePdgms,pdgmType"}