{:beja_Re-PInd "Independent,Object Independent,Subject", :beja_Re-PIndPoss "IndependentPossessive,H_Fem,H_Plural IndependentPossessive,H_Fem,H_Singular IndependentPossessive,H_Masc,H_Plural IndependentPossessive,H_Masc,H_Singular", :beja_Re-PObjSuff "ObjectSuffix", :beja_Re-PPossCop "PossCop,H_Fem,H_Plural PossCop,H_Fem,H_Singular PossCop,H_Fem,Singular PossCop,H_Masc,H_Plural PossCop,H_Masc,H_Singular PossCop,H_Masc,Singular", :beja_Re-PPossSuff "PossSuff,H_Fem,H_Plural PossSuff,H_Fem,H_Singular PossSuff,H_Masc,H_Plural PossSuff,H_Masc,H_Singular"}