{:afar-VCompIntNegNonFinite-ruffa-edh "NonFinite,conjClass NonFinite,polarity NonFinite,tam", :afar-VCompTrNonFinite-kad-hee "NonFinite,conjClass NonFinite,tam", :afar-VPrefNonFinite-uduur "NonFinite,conjClass NonFinite,tam", :afar-VStatCompNegNonFinite-anay-qunda "NonFinite,conjClass NonFinite,polarity NonFinite,tam", :afar-VStatNonFinite-meq "NonFinite,conjClass NonFinite,tam", :afar-VSuffNonFinite-fak "NonFinite,conjClass NonFinite,tam"}