{:kemant-VDervStemForms "DERVSTEM,derivedStem DERVSTEM,pdgmSubType DERVSTEM,pdgmType", :kemant-VFiniteForm "AGENTNOUN,finiteForm AGENTNOUN,pdgmSubType", :kemant-VInfinitive "INFINITIVE,finiteForm INFINITIVE,pdgmSubType INFINITIVE,polarity", :kemant-VInterrog "VERBINTERROGATIVE,pdgmSubType VERBINTERROGATIVE,pdgmType"}