{:boni_J-VKijee-balaSuff2AffImperf-obed "Suffix,Imperfect,Affirmative,S_2:obed", :boni_J-VKijee-balaSuff2AffImprtv-obed "Suffix,Imperative,Affirmative,S_2:obed", :boni_J-VKijee-balaSuff2AffPerf-obed "Suffix,Perfect,Affirmative,S_2:obed", :boni_J-VKijee-balaSuff2NegImperf-obed "Suffix,Imperfect,Negative,S_2:obed", :boni_J-VKijee-balaSuff2NegImprtv-obed "Suffix,Imperative,Negative,S_2:obed", :boni_J-VKijee-balaSuff2NegPerf-obed "Suffix,Perfect,Negative,S_2:obed"}