{:beja_H-VParticiple "VERBALPARTICIPLES,conjClass VERBALPARTICIPLES,derivedStem VERBALPARTICIPLES,participle", :beja_H-VStemClassPrefTense "TENSESTEMFORM,conjClass TENSESTEMFORM,derivedStem TENSESTEMFORM,rootClass TENSESTEMFORM,tamStemClass", :beja_H-VStemDervExx "DERVSTEMFORM,conjClass DERVSTEMFORM,derivedStem DERVSTEMFORM,rootClass", :beja_H-VStemFormationTense "Stem,derivedStem Stem,participle Stem,polarity Stem,tam Stem,tamStemClass"}