{:gawwada-VAffJussive-ass "Jussive,Affirmative:ass", :gawwada-VConsecutive-ass "Consecutive,Class2:ass", :gawwada-VConsecutive-sor "Consecutive,Class1:sor", :gawwada-VImperfective-ass "Imperfective:ass", :gawwada-VNegImprtvExx "NegImprtvExx,Imperative,Negative:ass", :gawwada-VNegJussive-ass "Jussive,Negative:ass", :gawwada-VNegPast-ass "Past,Negative:ass", :gawwada-VNegPresent-ass "Present,Negative:ass", :gawwada-VPerfective-oggay "Perfective,Class1:oggay", :gawwada-VPerfective-ug "Perfective,Class1:ug", :gawwada-VPerfectiveTemplate-ass "Template,Perfective,Class2:ass"}