{:bilin-VConj1Agent-gab "Agent,conjClass Agent,nonFiniteForm", :bilin-VConj1Infinitive-gab "Infinitive,conjClass Infinitive,nonFiniteForm", :bilin-VCopula "Copula,copType Copula,polarity Copula,tam", :bilin-VDervSuff "DervSuff,derivedStem"}