{:arabic-PCliticPro "Clitic,GenObj", :arabic-PDemon "Demonstrative,Common,Far Demonstrative,Common,Near Demonstrative,Nominative,Far Demonstrative,Nominative,Near Demonstrative,Oblique,Far Demonstrative,Oblique,Near", :arabic-PIndep "Independent", :arabic-PRel "Relative,Common Relative,Nominative Relative,Oblique"}