{:beja_H-VImperativeRootClassExx "IMPTVROOTCLASSES,conjClass,derivedStem,gender,number,person,rootClass,tam", :beja_H-VParticiple "PARTICIPLES,conjClass,derivedStem,participle", :beja_H-VStemClassPrefTense "TENSESTEM,conjClass,derivedStem,rootClass,tamStemClass", :beja_H-VStemDervExx "DERVSTEM,conjClass,derivedStem,rootClass", :beja_H-VStemFormationTense "TAMSTEMCLASS,derivedStem,number,participle,polarity,tam,tamStemClass", :beja_H-VSubjMarkers "SUBJMARK,gender,number,person"}