{:iraqw-PInd "Independent,Full Independent,Short", :iraqw-PObj "Object", :iraqw-PPers_dem "Pers_dem,Far Pers_dem,Midway Pers_dem,Near1 Pers_dem,Near2", :iraqw-PPoss "Possessive,HeadFem Possessive,HeadMasc"}