{:beja_H-P3sgProDialectDist "ProComp,Object,Arteiga ProComp,Object,Bishari ProComp,Object,Hadendowa ProComp,Possessive,Arteiga ProComp,Possessive,Bishari ProComp,Possessive,Hadendowa", :beja_H-PDefMarker "DefMarker,Nom_obj,DefClass2 DefMarker,Nom_obj,DefClass3 DefMarker,Object,DefClass1 DefMarker,Subject,DefClass1", :beja_H-PDem "Demonstrative,Object,Far Demonstrative,Object,Near Demonstrative,Subject,Far Demonstrative,Subject,Near", :beja_H-PInd "Independent,Object Independent,Subject", :beja_H-PPossObj "PossObj,Object PossObj,Possessive"}