{:beja_Re-VPrefAffPluperfStemFormation "TENSESTEMPLUP1,conjClass TENSESTEMPLUP1,derivedStem TENSESTEMPLUP1,derivedStemAug TENSESTEMPLUP1,pdgmType TENSESTEMPLUP1,polarity TENSESTEMPLUP1,tam", :beja_Re-VPrefCausStemForm "DERVSTEMCAUS,conjClass DERVSTEMCAUS,derivedStem DERVSTEMCAUS,pdgmType", :beja_Re-VPrefCollaborativeStemForm "DERVSTEMCOLL,conjClass DERVSTEMCOLL,derivedStem DERVSTEMCOLL,pdgmType", :beja_Re-VPrefPassStemForm "DERVSTEMPASS,conjClass DERVSTEMPASS,derivedStem DERVSTEMPASS,pdgmType", :beja_Re-VPrefRecipStemForm "DERVSTEMRECIP,conjClass DERVSTEMRECIP,derivedStem DERVSTEMRECIP,pdgmType", :beja_Re-VPrefReflStemForm "DERVSTEMREFL,conjClass DERVSTEMREFL,derivedStem DERVSTEMREFL,pdgmType", :beja_Re-VSuffDervStemForm "DERVSTEMVAR,conjClass DERVSTEMVAR,derivedStem DERVSTEMVAR,derivedStemAug DERVSTEMVAR,pdgmType"}