{:burunge-VDervStem "DervStem,derivedStem", :burunge-VImprtvComponentAnalysis "ComponentAnalysis,imprtvComponent ComponentAnalysis,tam", :burunge-VImprtvSuffixes "Suffixes,derivedStem Suffixes,orientationSel Suffixes,tam", :burunge-VInterrGen "InterrGen,gramFunction InterrGen,polarity", :burunge-VParticiple "Participle,tam"}