{:dizi-VAffCommandForms "CommandForms,Imprtv,Affirmative:baasl CommandForms,Juss,Affirmative:baasl", :dizi-VJussImprtvAff-baasl "Imperative,Affirmative:baasl Jussive,Affirmative:baasl", :dizi-VJussImprtvNeg-baasl "Imperative,Negative:baasl Jussive,Negative:baasl", :dizi-VNegAuxNegSuff-baasl "AuxNegSuff,Negative:baasl", :dizi-VNegCommandForms "CommandForms,Imprtv,Negative:baasl-2 CommandForms,Juss,Negative:baasl-2", :dizi-VPastAff-baasl "Past,Affirmative:baasl"}