{:beja_Re-VPrefAffCCPerfect-auxFay "Prefix,Past,Affirmative,CC,AuxFay:fay", 
:beja_Re-VPrefAffCCPerfect-auxHay "Prefix,Past,Affirmative,CC,AuxHay:hay", 
:beja_Re-VPrefAffCCPresent-auxFay "Prefix,Present,Affirmative,CC,AuxFay:fay", 
:beja_Re-VPrefAffCCPresent-auxHay "Prefix,Present,Affirmative,CC,AuxHay:hay", 
:beja_Re-VPrefAffFuture1-dir "Compound,Prefix,Future1,Affirmative:dir", 
:beja_Re-VPrefAffFuture2-dir "Compound,Prefix,Future2,Affirmative:dir", 
:beja_Re-VPrefAffFuture2Var-dir "Compound,Prefix,Future2Var,Affirmative:dir", 
:beja_Re-VPrefAffFuture3-fedig "Compound,Prefix,Future3,Affirmative:fedig", 
:beja_Re-VPrefAffImprtv-dir "Prefix,Imperative,Affirmative:dir", 
:beja_Re-VPrefAffImprtv-fedig "Prefix,Imperative,Affirmative:fedig", 
:beja_Re-VPrefAffImprtv-harid "Prefix,Imperative,Affirmative:harid", 
:beja_Re-VPrefAffImprtv-kehan "Prefix,Imperative,Affirmative:kehan", 
:beja_Re-VPrefAffImprtv-seni "Prefix,Imperative,Affirmative:seni", 
:beja_Re-VPrefAffJussive-dir "Prefix,Jussive,Affirmative:dir", 
:beja_Re-VPrefAffJussive-fedig "Prefix,Jussive,Affirmative:fedig", 
:beja_Re-VPrefAffOptative-dir "Prefix,Optative,Affirmative:dir", 
:beja_Re-VPrefAffOptative-fedig "Prefix,Optative,Affirmative:fedig", 
:beja_Re-VPrefAffOptative-seni "Prefix,Optative,Affirmative:seni", 
:beja_Re-VPrefAffPluperfRootForm "TENSESTEMPLUP2,RootForm,Prefix,Aorist,Affirmative,CCC:fedig TENSESTEMPLUP2,RootForm,Prefix,Aorist,Affirmative,CaC:dar TENSESTEMPLUP2,RootForm,Prefix,Aorist,Affirmative,CeC:ged", 
:beja_Re-VPrefAffPres-di "Prefix,Present,Affirmative:di", 
:beja_Re-VPrefAffPres-har "Present,Affirmative:har Present,Negative:har", 
:beja_Re-VPrefAffPres-yi "Prefix,Present,Affirmative:yi Prefix,Present,Negative:yi", 
:beja_Re-VPrefCCAffPresent-am "Prefix,BaseIntns,Present,Affirmative,CC:am Prefix,CausalIntransitive,Present,Affirmative,CC:am", 
:beja_Re-VPrefCCAffPresent-be_an "Prefix,BaseIntns,Present,Affirmative,CCC:beʔān", 
:beja_Re-VPrefCCAffPresent-bis "Prefix,Base,Present,Affirmative,CC:bis", 
:beja_Re-VPrefCCAffPresent-dah "Prefix,BaseIntns,Present,Affirmative,CCC:dah Prefix,CausalIntransitive,Present,Affirmative,CC:dah", 
:beja_Re-VPrefCCAffPresent-dir "Prefix,Base,Present,Affirmative,CC:dir Prefix,BaseIntns,Present,Affirmative,CC:dir Prefix,Causative,Present,Affirmative,CC:dir", 
:beja_Re-VPrefCCAffPresent-fedig "Prefix,BaseIntns,Present,Affirmative,CCC:fedig", 
:beja_Re-VPrefCCAffPresent-gid "Prefix,Base,Present,Affirmative,CC:gid", 
:beja_Re-VPrefCCAffPresent-kan "Prefix,Reflexive,Present,Affirmative,CC:kan", 
:beja_Re-VPrefCCAffPresent-kay "Prefix,Reflexive,Present,Affirmative,CC:kay", 
:beja_Re-VPrefCCAffPresent-ram "Prefix,Passive,Present,Affirmative,CC:ram", 
:beja_Re-VPrefCCAffPresent-tʔab "Prefix,BaseIntns,Present,Affirmative,CC:tʔab", 
:beja_Re-VPrefCCAffPresent-tʔaʔ "Prefix,Causative,Present,Affirmative,CC:tʔaʔ", 
:beja_Re-VPrefCCCAffPerfectCompSem "Prefix,Past,Affirmative,CCC:ketib COMPSEM,CompSem,Prefix,Imperfect,Affirmative,CCC:ktbArb COMPSEM,CompSem,Prefix,Imperfect,Affirmative,CCC:ktbHeb", 
:beja_Re-VPrefCCCAffPresent-debil "Prefix,Base,Present,Affirmative,CCC:debil", 
:beja_Re-VPrefCCCAffPresent-fedig "Prefix,Causative,Present,Affirmative,CCC:fedig", 
:beja_Re-VPrefCCCAffPresent-ketib "Prefix,Base,Present,Affirmative,CCC:ketib", 
:beja_Re-VPrefCCCAffPresent-sebir "Prefix,Passive,Present,Affirmative,CCC:sebar", 
:beja_Re-VPrefCCCAffPresent-sedid "Prefix,Base,Present,Affirmative,CCC:sedid", 
:beja_Re-VPrefCCCAffPresent-siʔ "Prefix,Passive,Present,Affirmative,CCC:siʔ", 
:beja_Re-VPrefCCCNegPresent-ketib "Prefix,Base,Present,Negative,CCC:ketib", 
:beja_Re-VPrefCCCNegPresent-serid "Prefix,Base,Present,Negative,CCC:serid", 
:beja_Re-VPrefCCNegPresent-dir "Prefix,Base,Present,Negative,CC:dir", 
:beja_Re-VPrefCCNegPresentAuxFay "Prefix,Present,Negative,CC,AuxFay:fay", 
:beja_Re-VPrefCCYAffPresent-kwesi "Prefix,Base,Present,Affirmative,CCY:kwesi", 
:beja_Re-VPrefCCYAffPresent-rekwi "Prefix,Base,Present,Affirmative,CCY:rekwi", 
:beja_Re-VPrefCCYAffPresent-sefi "Prefix,Base,Present,Affirmative,CCY:sefi", 
:beja_Re-VPrefCHCAffPresent-gwʔad "Prefix,Base,Present,Affirmative,CHC:gwʔad", 
:beja_Re-VPrefCHCAffPresent-kehan "Prefix,Base,Present,Affirmative,CHC:kehan", 
:beja_Re-VPrefCHCAffPresent-sehag "Prefix,Base,Present,Affirmative,CHC:sehag", 
:beja_Re-VPrefCondPerfect-copAn "Prefix,ConditionalPerfect,CopAn:COPULA", 
:beja_Re-VPrefCondPresent-copAn "Prefix,ConditionalPresent,CopAn:COPULA", 
:beja_Re-VPrefNegCCPerfect-auxFay "Prefix,Past,Negative,CC,AuxFay:fay", 
:beja_Re-VPrefNegCCPerfect-auxHay "Prefix,Past,Negative,CC,AuxHay:hay", 
:beja_Re-VPrefNegCCPerfect-auxKay "Prefix,Past,Negative,CC,AuxKay:kay", 
:beja_Re-VPrefNegCCPresent-auxHay "Prefix,Present,Negative,CC,AuxHay:hay", 
:beja_Re-VPrefNegFuture1-dir "Compound,Prefix,Future1,NegativeEmphatic:dir", 
:beja_Re-VPrefNegFuture2-dir "Compound,Prefix,Future2,Negative:dir", 
:beja_Re-VPrefNegFuture3-fedig "Compound,Prefix,Future3,Negative:fedig", 
:beja_Re-VPrefNegImprtv-dir "Prefix,Imperative,Negative:dir", 
:beja_Re-VPrefNegImprtv-fedig "Prefix,Imperative,Negative:fedig", 
:beja_Re-VPrefNegImprtv-harid "Prefix,Imperative,Negative:harid", 
:beja_Re-VPrefNegImprtv-kehan "Prefix,Imperative,Negative:kehan", 
:beja_Re-VPrefNegImprtv-seni "Prefix,Imperative,Negative:seni", 
:beja_Re-VPrefNegJussive-dir "Prefix,Jussive,Negative:dir", 
:beja_Re-VPrefNegJussive-fedig "Prefix,Jussive,Negative:fedig", 
:beja_Re-VPrefNegJussive-kiri "Prefix,Jussive,Negative:kiri", 
:beja_Re-VPrefNegOptative-dir "Prefix,Optative,Negative:dir", 
:beja_Re-VPrefNegOptative-fedig "Prefix,Optative,Negative:fedig", 
:beja_Re-VPrefNegOptative-kiri "Prefix,Optative,Negative:kiri", 
:beja_Re-VPrefNegPerf-rib "Prefix,Past,Negative:rib", 
:beja_Re-VPrefPerfectCopAn "Prefix,Past,CopAn:COPULA", 
:beja_Re-VPrefPrefVsSuff-dir "PrefVsSuff,Prefix,Past:dir PrefVsSuff,Prefix,Present:dir PrefVsSuff,Suffix,Past:dir PrefVsSuff,Suffix,Present:dir", 
:beja_Re-VPrefPresent-copAn "Prefix,Present,CopAn:COPULA", 
:beja_Re-VSuffAffCond-dur "Suffix,Conditional,Affirmative:dur", 
:beja_Re-VSuffAffFuture1-dur "Compound,Suffix,Future1,Affirmative:dur", 
:beja_Re-VSuffAffFuture2-dur "Compound,Suffix,Future2,Affirmative:dur", 
:beja_Re-VSuffAffFuture3-dur "Compound,Suffix,Future3,Affirmative:dur", 
:beja_Re-VSuffAffImprtv-dur "Suffix,Imperative,Affirmative:dur", 
:beja_Re-VSuffAffJussive-dur "Suffix,Jussive,Affirmative:dur", 
:beja_Re-VSuffAffPerfect-dur "Suffix,Past,Affirmative:dur", 
:beja_Re-VSuffAffPerfectDur-dur "Suffix,PastDur,Affirmative:dur", 
:beja_Re-VSuffAffPerfectRel-dur "Suffix,PastRel,Affirmative:dur", 
:beja_Re-VSuffAffPluperfect-dur "Suffix,Aorist,Affirmative:dur", 
:beja_Re-VSuffAffPresent-dur "Suffix,Present,Affirmative:dur", 
:beja_Re-VSuffAffPresentDur-dur "Suffix,PresentDur,Affirmative:dur", 
:beja_Re-VSuffAffPresentRel-dur "Suffix,PresentRel,Affirmative:dur", 
:beja_Re-VSuffNegFuture1-dur "Compound,Suffix,Future1,Negative:dur", 
:beja_Re-VSuffNegFuture2-dur "Compound,Suffix,Future2,Negative:dur", 
:beja_Re-VSuffNegFuture3-dur "Compound,Suffix,Future3,Negative:dur", 
:beja_Re-VSuffNegImprtv-dur "Suffix,Imperative,Negative:dur", 
:beja_Re-VSuffNegJussive-dur "Suffix,Jussive,Negative:dur", 
:beja_Re-VSuffNegPerfect-dur "Suffix,Past,Negative:dur", 
:beja_Re-VSuffNegPerfectDur-dur "Suffix,PastDur,Negative:dur", 
:beja_Re-VSuffNegPerfectRel-dur "Suffix,PastRel,Negative:dur", 
:beja_Re-VSuffNegPresent-dur "Suffix,Present,Negative:dur", 
:beja_Re-VSuffNegPresentDur-dur "Suffix,PresentDur,Negative:dur", 
:beja_Re-VSuffNegPresentRel-dur "Suffix,PresentRel,Negative:dur"}
