{:arabic-Vform1Infinitive-nsr "Infinitive,derivedStem Infinitive,infinitiveVar", :arabic-Vform1Part-nsr "Participle,derivedStem Participle,state Participle,voice", :arabic-Vform2Participle-fʕl "Participle,derivedStem Participle,state Participle,voice", :arabic-Vform3Infinitive-fʕl "Infinitive,derivedStem Infinitive,infinitiveVar", :arabic-Vform3Participloe-fʕl "Participle,derivedStem Participle,voice", :arabic-Vform3nfiitive-fʕl "Infinitive,derivedStem Infinitive,infinitiveVar"}