{:beja_H-P3sgProDialectDist "Object,Structure Possessive,Structure", :beja_Ro-PArtDef "ArtDef,Object ArtDef,Subject", :beja_Ro-PGen_PossPred "Gen_PossPred,H_Fem,H_Plural Gen_PossPred,H_Fem,H_Singular Gen_PossPred,H_Masc,H_Plural Gen_PossPred,H_Masc,H_Singular", :beja_Ro-PInd "Independent,Object Independent,Subject", :beja_Ro-PInterrog "Interrogative,Object,H_Common Interrogative,Possessive,H_Plural Interrogative,Possessive,H_Singular Interrogative,Subject,H_Common", :beja_Ro-PPossInd "PossInd,H_Plural PossInd,H_Singular", :beja_Ro-PPossSuff "PossSuff,H_Fem,H_Plural PossSuff,H_Fem,H_Singular PossSuff,H_Masc,H_Plural PossSuff,H_Masc,H_Singular"}