{:alaaba-PAbsPoss "AbsPoss,Possessive,HeadFem AbsPoss,Possessive,HeadMasc", :alaaba-PProEmph "ProEmph", :alaaba-PProIndClit "PronounIndependent,Ablative PronounClitic,Absolutive PronounIndependent,Absolutive PronounClitic,Dative PronounIndependent,Dative PronounClitic,Genitive PronounIndependent,Genitive PronounIndependent,Instrumental PronounIndependent,Nominative PronounIndependent,Similative", :alaaba-PReciprocal "Reciprocal,Ablative Reciprocal,Absolutive Reciprocal,Dative Reciprocal,Similative", :alaaba-PReflexive "Reflexive,Ablative Reflexive,AbsolutiveEmphatic Reflexive,AbsolutiveNominative Reflexive,Dative Reflexive,Genitive Reflexive,Instrumental"}